# .pyc files
############
*.pyc
*.par

# .txt files
############
# *.txt


# Model files
#############
current*
profile*
radiation_code.lock

# misc
######
*_lbl.nc
*.png
Tprofile.pdf
.DS_Store
__pycache__/
socrates/
general_adiabat_TP.pdf
general_adiabat_XP.pdf
