# .pyc files
############
*.pyc

# .txt files
############
# *.txt


# Model files
#############
current*
profile*
radiation_code.lock

# misc
######
*_lbl.nc
*.png
Tprofile.pdf
.DS_Store
__pycache__/
socrates/
