# .pyc files
############
*.pyc
*.par

# Model files
#############
current*
profile*
radiation_code.lock

# misc
######
*_lbl.nc
*.png
Tprofile.pdf
.DS_Store
.vscode
__pycache__/
rad_trans/socrates_code/*
!rad_trans/socrates_code/.gitkeep

# Ignore SOCRATES code files
rad_trans/socrates_code/*

# Video files
*.mp4
spectral_files/sp_b318_HITRAN_a16_gen_original
spectral_files/sp_b318_HITRAN_a16_2203/temp
spectral_files/sp_b318_HITRAN_a16_2203
socrates_2002.tar.xz
set_rad_env

output/
utils/*.ipynb*
